# Working with CSV files

In [29]:
# import libraries
import numpy as np
import pandas as pd
from pandas import DataFrame
import itertools
import csv

In [11]:
files = ['DataSets/MallCustomers.csv']

In [33]:
# Read csv files and convert it to data frame
def prepareData(files):
    myData = []
    for file_name in files:
        file = open(file_name, 'rt', encoding='utf-8')
        reviews = csv.reader(file)
        i = 1
        for CustomerID, Genre, Age, AnnualIncome, SpendingScore in reviews:
            if i == 1: i = 2; continue
            myData.append([CustomerID, Genre, Age])
    
    df = DataFrame(myData, columns=['CustomerID', 'Genre', 'Age'])
    return df

In [13]:
myData = prepareData(files)
myData

    CustomerID   Genre Age
0            1    Male  19
1            2    Male  21
2            3  Female  20
3            4  Female  23
4            5  Female  31
5            6  Female  22
6            7  Female  35
7            8  Female  23
8            9    Male  64
9           10  Female  30
10          11    Male  67
11          12  Female  35
12          13  Female  58
13          14  Female  24
14          15    Male  37
15          16    Male  22
16          17  Female  35
17          18    Male  20
18          19    Male  52
19          20  Female  35
20          21    Male  35
21          22    Male  25
22          23  Female  46
23          24    Male  31
24          25  Female  54
25          26    Male  29
26          27  Female  45
27          28    Male  35
28          29  Female  40
29          30  Female  23
..         ...     ...  ..
170        171    Male  40
171        172    Male  28
172        173    Male  36
173        174    Male  36
174        175  Female  52
175        176  Female  30
176        177    Male  58
177        178    Male  27
178        179    Male  59
179        180    Male  35
180        181  Female  37
181        182  Female  32
182        183    Male  46
183        184  Female  29
184        185  Female  41
185        186    Male  30
186        187  Female  54
187        188    Male  28
188        189  Female  41
189        190  Female  36
190        191  Female  34
191        192  Female  32
192        193    Male  33
193        194  Female  38
194        195  Female  47
195        196  Female  35
196        197  Female  45
197        198    Male  32
198        199    Male  32
199        200    Male  30

[200 rows x 3 columns]

### Load CSV to MySQL database

In [14]:
import mysql.connector
from mysql.connector import errorcode, connect

In [15]:
def connectMysql():
    try:
        con = connect(
            user = "root",
            password = "",
            host = "localhost",
            database = "ds_dataset"
        )
        return con
    except mysql.connector.Error as e:
        if e.errno == errorcode.ER_ACCESS_DENIED_ERROR:
            print("Access denied !")
        elif e.errno == errorcode.ER_BAD_DB_ERROR:
            print("Database does not exists !")
        else:
            print(e)

In [16]:
def executeSQL(sql):
    try:
        con = connectMysql()
        cursor = con.cursor()
        cursor.execute(sql)
        con.commit()
    except:
        con.rollback()
    con.close()

In [118]:
# Create table
sql_drop = "DROP TABLE IF EXISTS Customers;"
sql_create = "CREATE TABLE Customers(\
CustomerID INT(11) PRIMARY KEY,\
Genre VARCHAR(250),\
Age INT(11));"

executeSQL(sql_drop)
executeSQL(sql_create)

In [129]:
# Insert data from CSV to MySQL
def insertData(CustomerID, Genre, Age):
    sql = "INSERT INTO Customers VALUES(%s, '%s', %s)" % (CustomerID, Genre, Age)
    executeSQL(sql)

for index, (CustomerID, Genre, Age) in myData.iterrows():
    insertData(CustomerID, Genre, Age)

In [22]:
# Get data from database
def getData(sql):
        con = connectMysql()
        cursor = con.cursor()
        cursor.execute(sql)
        reviews = DataFrame(cursor.fetchall())
        reviews.rename(columns = {0 : 'ID', 1 : 'Genre', 2 : 'Age'}, inplace=True)
        cursor.close()
        con.close()
        return reviews

getData("SELECT * FROM Customers;")

      ID   Genre  Age
0      1    Male   19
1      2    Male   21
2      3  Female   20
3      4  Female   23
4      5  Female   31
5      6  Female   22
6      7  Female   35
7      8  Female   23
8      9    Male   64
9     10  Female   30
10    11    Male   67
11    12  Female   35
12    13  Female   58
13    14  Female   24
14    15    Male   37
15    16    Male   22
16    17  Female   35
17    18    Male   20
18    19    Male   52
19    20  Female   35
20    21    Male   35
21    22    Male   25
22    23  Female   46
23    24    Male   31
24    25  Female   54
25    26    Male   29
26    27  Female   45
27    28    Male   35
28    29  Female   40
29    30  Female   23
..   ...     ...  ...
170  171    Male   40
171  172    Male   28
172  173    Male   36
173  174    Male   36
174  175  Female   52
175  176  Female   30
176  177    Male   58
177  178    Male   27
178  179    Male   59
179  180    Male   35
180  181  Female   37
181  182  Female   32
182  183    Male   46
183  184  Female   29
184  185  Female   41
185  186    Male   30
186  187  Female   54
187  188    Male   28
188  189  Female   41
189  190  Female   36
190  191  Female   34
191  192  Female   32
192  193    Male   33
193  194  Female   38
194  195  Female   47
195  196  Female   35
196  197  Female   45
197  198    Male   32
198  199    Male   32
199  200    Male   30

[200 rows x 3 columns]

### Read CSV using Pandas

In [32]:
files = ['DataSets/MallCustomers.csv']
def modifyCSV():
    for file_path in files:
        df = pd.read_csv(file_path)
        del df['SpendingScore'] # delete column from csv
        del df['Age']
        # export result (csv)
        df.to_csv('DataSets/MallCustomers_afterEditing.csv')
        return df

modifyCSV()

     CustomerID   Genre  AnnualIncome
0             1    Male            15
1             2    Male            15
2             3  Female            16
3             4  Female            16
4             5  Female            17
5             6  Female            17
6             7  Female            18
7             8  Female            18
8             9    Male            19
9            10  Female            19
10           11    Male            19
11           12  Female            19
12           13  Female            20
13           14  Female            20
14           15    Male            20
15           16    Male            20
16           17  Female            21
17           18    Male            21
18           19    Male            23
19           20  Female            23
20           21    Male            24
21           22    Male            24
22           23  Female            25
23           24    Male            25
24           25  Female            28
25           26    Male            28
26           27  Female            28
27           28    Male            28
28           29  Female            29
29           30  Female            29
..          ...     ...           ...
170         171    Male            87
171         172    Male            87
172         173    Male            87
173         174    Male            87
174         175  Female            88
175         176  Female            88
176         177    Male            88
177         178    Male            88
178         179    Male            93
179         180    Male            93
180         181  Female            97
181         182  Female            97
182         183    Male            98
183         184  Female            98
184         185  Female            99
185         186    Male            99
186         187  Female           101
187         188    Male           101
188         189  Female           103
189         190  Female           103
190         191  Female           103
191         192  Female           103
192         193    Male           113
193         194  Female           113
194         195  Female           120
195         196  Female           120
196         197  Female           126
197         198    Male           126
198         199    Male           137
199         200    Male           137

[200 rows x 3 columns]